body {
    letter-spacing: 1px;
}

.service-container {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 620px) {
    .service-container {
       flex-direction: column;
    }
}

.read_more {
    line-height: 100px;
}

.read_less {
    line-height: 100px;
}

.btn {
    letter-spacing: 3px;
    outline: 0!important;
    border: none;
}

.g-widget {
    margin: 20px 15px;
}
